
{% extends 'base.html' %}
{% block content %}

<!-- Bootstrap CSS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<title>{% block title %}Contact{% endblock %}</title>
<body>
      <div style="height: 100vh; background-image: url(https://images.unsplash.com/photo-1470329508532-be27fda94658?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80); background-size: cover; background-position: center;" class="position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.3);">
    <div class="container">
      <div class="col-md-6">
        <span style="color: #bbb;" class="text-uppercase">SubHeadline</span>
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-2 display-4 font-weight-bold">Enter Your <span style="color: #9B5DE5;">Headline Here</span></h1>
        <p  style="color: #bbb;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eos ea, cum quae facilis optio impedit tempora aliquam at eveniet?</p>
        <div class="mt-5">
          <!-- hover background-color: white; color: black; -->
          <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5;">Get Started</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

